<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="chat" id="chat-window" class="panel panel-primary">
    <div class="panel-heading-custom" id="accordion">
        <span class="glyphicon glyphicon-comment"></span> Chat
        <div class="btn-group pull-right">
            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"
               href="#collapseOne">
                <span class="glyphicon glyphicon-chevron-down"></span>
            </a>
        </div>
    </div>
    <div class="panel-collapse collapse" id="collapseOne">
        <div class="panel-body">
            <ul class="chat">
            </ul>
        </div>
        <div class="panel-footer">
                <div class="input-group mb-3">
                <input id="btn-input" type="text" class="form-control" placeholder="Type your message here" aria-label="Chat message area"
                       aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-warning" type="button" id="btn-chat">Button</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>