<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Side bar -->
<div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li><a th:href="@{/}"><i class="fa fa-fw fa-link"></i> Dash board</a></li>
        <li><a th:href="@{/users}"><i class="fa fa-fw fa-link"></i> Users</a></li>
        <li><a th:href="@{/roles}"><i class="fa fa-fw fa-link"></i> Roles</a></li>
        <li><a th:href="@{/products}"><i class="fa fa-fw fa-link"></i> Products</a></li>
        <li><a th:href="@{/categories}"><i class="fa fa-fw fa-link"></i> Categories</a></li>
<!--        <li>-->
<!--            <a href="#sm_expand_1" data-toggle="collapse">-->
<!--                <i class="fa fa-fw fa-link"></i> Expandable Menu Item-->
<!--            </a>-->
<!--            <ul id="sm_expand_1" class="list-unstyled collapse">-->
<!--                <li><a href="#">Submenu Item</a></li>-->
<!--                <li><a href="#">Submenu Item</a></li>-->
<!--            </ul>-->
<!--        </li>-->

    </ul>
</div>
</body>
</html>